DATABASE_URL="postgres://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
DATABASE_URL_UNPOOLED="postgres://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
NEXT_PUBLIC_APP_ENV="production"
DATABASE_RUNTIME="postgres-neon"

# Vercel Marketplace/Neon tambem pode injetar:
# POSTGRES_URL=
# POSTGRES_URL_NON_POOLING=
